####################################
# ENTORNO VIRTUAL
####################################
.venv/
venv/

####################################
# ARCHIVOS SENSIBLES
####################################
.env

####################################
# VECTORSTORE
####################################
vectorstore/**

####################################
# DATA: ignoramos contenido, pero no las carpetas
####################################
data/**        # ignorar TODO
#!data/         # excepto carpeta data
#!data/texts/      # excepto subcarpetas texts
!data/chunks/      # excepto subcarpetas chunks
!data/**/.gitkeep   # permitir gitkeep
!data/diagrams # excepto carpeta de diagramas

####################################
# PYTHON CACHE
####################################
__pycache__/
*.pyc

####################################
# JUPYTER
####################################
.ipynb_checkpoints/

####################################
# LOGS
####################################
*.log

####################################
# EDITOR / SISTEMA
####################################
.vscode/
*.DS_Store

####################################
# OTROS
####################################
*.tmp
